/* ES. 1 */
.ex-1-square{
  transition: 2s;
}
.ex-1-square:hover{
  background: red;
}

/* ES. 2 */
.ex-2-square{
  transition: 2s;
}
.ex-2-square:active{
  width: 100%;
}

/* ES. 3 */
.ex-3-square{
  transition: 2s;
}
.ex-3-square:hover{
  border-radius: 50%;
}

/* ES. 4 */
.ex-4-square{
  transition: 2s;
}
.ex-4-square:hover{
  opacity: 0%;
}

/* ES. 5 */
.ex-5-square{
  transition: 2s;
}
.ex-5-square:hover{
  width: 100px;
  height: 100px;
}
.ex-5-square:active{
  width: 30px;
  height: 30px;
}

/* ES. 6 */
.ex-6-img:hover{
  filter: grayscale(1);
}

/* ES. 7 */
.ex-7-img:hover{
  filter: grayscale(1);
  transition: 2s;
}

/* ES. 8 */
.ex-8-img:hover{
  filter: grayscale(.5) sepia(.5);
  transition: 2s;
  border-radius: 15px;
}

/* ES. 9 */
.ex-9-img:hover{
  filter: grayscale(.5) sepia(.5);
  transition: 2s;
  border-radius: 15px;
  transform: scale(1.5);
}

/* ES. 10 */
.ex-10-icon{
  animation: turn 1s infinite;
}
@keyframes turn{
  0%{
    transform: rotate(1turn);
  }
}

/* ES. 11 */
.ex-11-icon:hover {
  animation: turn2 1s;
}
@keyframes turn2 {
  0% {
      transform: rotate(0);
  }
  90% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0);
  }
}

/* ES. 12 */

/* ES. 13 */